{% extends "base.html" %}
{% block title %}Create App{% endblock title %}

{% block body %}
<form action="/create_apps" method="post">
    {% csrf_token %}
    <div class="container my-3 p-3">
        <div class="form-group">
            <label for="app_name">App Name</label>
            <input type="app_name" class="form-control" id="app_name" name="app_name" aria-describedby="app_name">
        </div>
        <div class="form-group">
            <label for="app_file_name">App File Name</label>
            <input type="app_file_name" class="form-control" id="app_file_name" name="app_file_name" aria-describedby="app_file_name">
        </div>
        <div class="form-group">
            <label for="select_app_icon">Select App Icon</label>
            <input type="file" class="form-control-file" id="select_app_icon" name="select_app_icon" aria-describedby="select_app_icon">
        </div>
        <button class="btn-primary btn-lg">Create App</button>
    </div>
</form>
{% endblock body %}