{% extends "base.html" %} 
{% block title %}Home{% endblock title %} 
{% block activeh %}active{% endblock activeh %} 
{% load static %} {% block body %}

<div class="container">
  <div class="jumbotron my-3">
    <h1 class="display-4">Welcome to CodingZone!</h1>
    <p class="lead">
      This is Biggest Platform For Coders and learning about Programming
      Languages an d and big startup of this platform 1000+ students with create
      a youtube channel and more.
    </p>
    <hr class="my-4" />
    <p>
      It uses a tool that using to big goals and better coding pratice for every
      one i wish you are get your goals.
    </p>
    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Go to Blog</a>
    <a
      class="btn btn-primary btn-lg"
      target="_blank"
      href="https://www.youtube.com/@ArpitTutorials-CodeWithArpit?sub_confirmation=1"
      role="button"
      >Go My Channel</a
    >
    <a
      class="btn btn-primary btn-lg"
      href="/apps"
      role="button"
      >Explore Apps</a
    >
  </div>
</div>

<div class="container">
</div>

{% endblock body %}
