{% extends "base.html" %} 
{% block title %}Login{% endblock title %} 

{% block activel %}active{% endblock activel %} 

{% block body %}

<div class="container">
  <form action="/handleLogin" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="usernamef">UserName</label>
      <input
        type="username"
        class="form-control"
        id="loginusername"
        aria-describedby="username"
        name="loginusername"
      />
    </div>
    <div class="form-group">
      <label for="passwordf">Password</label>
      <input type="password" class="form-control" id="loginpassword" name="loginpassword" />
    </div>
    <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>
  </form>
</div>

{% endblock body %}
